* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    margin: 0 ;
}

.top-container {
    background-color: #1F2937;
    height: 25rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15%;
    padding-top: 1%;
}


.presentation-text h3{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding-right: 20%;
}

.presentation-text p{
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 20%;
}

.button {
    background-color: #3882F6;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    flex: 1;
}

.links {

    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.links a{
    color: white;
    display: flex;
    align-items: center;
    transition: .55s all;
}

.links a:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

.presentation-text {
    flex: 1;
    /* border: 4px solid black; */
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
    gap: 20px;

}

.presentation-img {
    flex: 1;
    /* border: 4px solid black; */
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

img {
    object-fit: cover;
}

img {

    border: 1.5px solid #F9FAF8;
    height: 75%;
    width: 100%;
}

.presentation {
    display: flex;
    flex-wrap: wrap;
    height: 25rem;
}

.presentation-text {
    flex: 1;
}

.actual-container {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* border: 4px solid black; */
    height: 25rem;
}

.main-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-top: 2%;
}

.boxes {
    /* border: 3px solid black; */
    border-radius: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    gap: 40px;
    max-height: 70%;;
    align-items: center;
}

.boxes img{
    border: 3px solid #3882F6;
}

.quote-container {
    height: 25rem;
    background: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    text-align: left;
    max-width: 18em;
}

.quote-caption {
    align-self: flex-end;
    text-align: right;
    font-size: 26px;
    font-weight: bold;
}

.form-container {
    height: 20rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container-intern {
    background-color: #3882F6;
    padding: 3% 10%;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5em;
}

.first-part {
    flex: 3;
}

.button-2 {
    border: 2px solid white;
    background-color: #3882F6;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    align-self: center;
    flex: 1;


}

.footer {
    height: 5rem;
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}
